<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <script src="/js/youtube.js"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/youtube.css">
  <title>GalwWing</title>

</head>
<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->

<main class="h-100">
  <!-- サイトバーメニュー -->
  <!-- サイトバーメニュー -->

  <!-- 全ページの右のコンテンツ -->
  <div class="page-content main w-100">
    <div id="youtube">
      <div id="player"></div>
    </div>
  </div>
</main>
</body>

</html>