<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <script src="/js/youtube.js"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/youtube.css">
  <title>GalwWing</title>

</head>
<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->

<main class="h-100">
  <!-- サイトバーメニュー -->
  <!-- サイトバーメニュー -->

  <!-- 全ページの右のコンテンツ -->
  <div class="page-content main w-100">
    <div id="youtube">
      <div id="player"></div>
    </div>
  </div>
  <button id="test">test</button>
  <ul id="list"></ul>

  <!--  &lt;!&ndash; Slider main container &ndash;&gt;-->
  <!--  <div class="swiper">-->
  <!--    &lt;!&ndash; Additional required wrapper &ndash;&gt;-->
  <!--    <div class="swiper-wrapper">-->
  <!--      &lt;!&ndash; Slides &ndash;&gt;-->
  <!--      <div class="swiper-slide">Slide 1</div>-->
  <!--      <div class="swiper-slide">Slide 2</div>-->
  <!--      <div class="swiper-slide">Slide 3</div>-->
  <!--    </div>-->
  <!--    &lt;!&ndash; If we need pagination &ndash;&gt;-->
  <!--    <div class="swiper-pagination"></div>-->

  <!--    &lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
  <!--    <div class="swiper-button-prev"></div>-->
  <!--    <div class="swiper-button-next"></div>-->

  <!--    &lt;!&ndash; If we need scrollbar &ndash;&gt;-->
  <!--    <div class="swiper-scrollbar"></div>-->
  <!--  </div>-->

  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <!--      <div class="swiper-slide">Slide 1</div>-->
      <!--      <div class="swiper-slide">Slide 2</div>-->
      <!--      <div class="swiper-slide">Slide 3</div>-->
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

</main>
</body>

</html>