<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <script src="/js/youtube.js"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/youtube.css">
  <title>GalwWing</title>

</head>
<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->

<main class="h-100">
  <!-- サイトバーメニュー -->
  <!-- サイトバーメニュー -->

  <!-- 全ページの右のコンテンツ -->
  <div class="page-content main w-100">
    <div id="youtube">
      <div id="player"></div>
    </div>
  </div>

  <!-- Slider main container -->
  <div class="swiper" style="margin: 10px" th:each="channel: ${ytdChannelList}">

    <h2 th:data-channel-id="${channel.channelId}">[[${channel.channelName}]]</h2>

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <div class="swiper-slide" th:each="ytdSwiper: ${channel.ytdGridRendererDtos}"
           th:data-video-id="${ytdSwiper.videoId}">
        <img th:src="${ytdSwiper.imgUrl}">
        <p>[[${ytdSwiper.title}]]</p>
      </div>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

</main>
</body>

</html>