<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <script src="/js/siteManagement.js"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/tree.css">
  <title>GalwWing</title>

</head>

<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->
<main class="h-100">
  <div class="page-wrapper d-flex flex-row h-100">

    <!-- サイトバーメニュー -->
    <!-- サイトバーメニュー -->

    <!-- 全ページの右のコンテンツ -->
    <div class="page-content main w-100">

      <!-- トップバー -->
      <nav class="navbar px-3 bg-light border-bottom shadow-sm">
        <div class="navbar-brand toggle-menu">
          サイト管理画面
        </div>
      </nav>
      <!-- トップバー -->

      <!-- 下のコンテンツ -->
      <div class="mx-5 mt-2">
        <button type="button" class="btn btn-primary" id="feedList">feed list</button>
      </div>
      <div class="mx-5 mt-2">
        <button type="button" class="btn btn-primary" id="feedUpdate">reload&update</button>
      </div>
      <div class="mx-5 my-2">
        <table class="table table-hover" border="1">
          <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">htmlUrl</th>
            <th scope="col">LastUpdate</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="site: ${sitelist}">
            <td>[[${site.title}]]</td>
            <td><a th:href="@{(${site.htmlUrl})}">[[${site.htmlUrl}]]</a></td>
            <td>[[${site.lastUpdate}]]</td>
            <td>
              <button th:onclick="deleteSite([[${site.uuid}]]);"
                      class="btn btn-danger">
                delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- 下のコンテンツ -->

    </div>
    <!-- 全ページの右のコンテンツ -->

  </div>
</main>
<!-- 全ページを囲む要素 -->

</body>

</html>
