#contentsList.parent img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

#contentsList.parent div {
    border: 4px #000 solid;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    padding: 20px;
    margin: 5px;
}