/* 重要な部分 */
.sidebar{
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 1s;
    max-height: 100vh;
}

/* 見栄え */
.sidebar .brand{
    background-color: #0d6efdc9;
    color: white;
}

.sidebar .nav-link{
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
}

/* アニメーション */
main{
    transition: 0.3s all ease;
}

.rss-link {
    text-decoration: none;
    font-weight:  bolder;
    color: #000000;
}

.rss-readed-link {
    text-decoration: none;
    color: #808080;
}

.page-content {
	display: block;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
}

.is-close {
  transform: translateX(-16em);
  transition-duration: 1s;
}

.wideMainContent {
  transform: translateX(-16em);
  transition-duration: 1s;
}

.mainContent {
  transition-duration: 1s;
}

body {
  max-height: 100vh;
}

.hiddenContent {
  display: none;
}

.list-group-item-selected {
  border: solid 2px #ff6a00;
}