/* 重要な部分 */
.sidebar{
    max-width: 250px;
    min-width: 250px;
}

/* 見栄え */
.sidebar .brand{
    background-color: #0d6efdc9;
    color: white;
}
.sidebar .nav-link{
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
}

/* アニメーション */
main{
    transition: 0.3s all ease;
}

.rss-link {
    text-decoration: none;
    font-weight:  bolder;
    color: #000000;
}

.rss-readed-link {
    text-decoration: none;
    color: #808080;
}

.page-content {
	display: block;
	width: 100%;
}