/* 重要な部分 */
.sidebar{
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 1s;
    max-height: 100vh;
    margin-right: 0px;
    padding-right: 0px;
}

/* 見栄え */
.sidebar .brand{
    background-color: #0d6efdc9;
    color: white;
}

.sidebar .nav-link{
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
}

/* アニメーション */
main{
    transition: 0.3s all ease;
}

.rss-link {
    text-decoration: none;
    font-weight:  bolder;
    color: #000000;
    margin: 0 0 0 10px;
}

.rss-read-link {
    text-decoration: none;
    color: #808080;
}

.rss-read-link {
    text-decoration: none;
    color: #808080;
}

.page-content {
	display: block;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
}

.is-close {
/*  transform: translateX(-17em);*/
  transition-duration: 1s;
  display: none;
}

.wideMainContent {
/*  transform: translateX(-17em);*/
  transition-duration: 1s;
}

div#mainContent {
  transition-duration: 1s;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
}

body {
  max-height: 100vh;
}

.hiddenContent {
  display: none;
}

.list-group-item {
  background-color: white;
  padding: 5px;
}

.list-group-item:hover {
  background-color: #FFCC33;
}

.list-group-item-selected {
  border: solid 2px #ff6a00;
}

li#siteList div {
  padding-bottom: 2px;
}


.parent-box {
  width: 100%;
}
.child-box {
}
.float {
  overflow: hidden;
}
.float .align-left {
  float: left;
}
.float .align-right {
  float: right;
}
.clear {
  clear: both;
}
