<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <script th:src="@{/js/podcast.js}"></script>
    <link rel="stylesheet" href="style.css">
    <title>GalwWing</title>

</head>

<body>
<!-- 全ページを囲む要素 -->
<main class="container mw-100" role="main">
    <div class="row">
        <input type="hidden" id="identifier" value="" th:value="${identifier}">

        <nav class="sidebar col-md-3" id="sidemenu">
            <section class="accordion">
                <!-- サイドメニュー(Site List) -->
                <div th:replace="linkMenu"/>
            </section>
        </nav>

        <!-- 全ページの右のコンテンツ -->
        <div class="col-md-9" id="mainContent">
            <div class="content p-3">
                <!-- アイコン -->
                <div class="page-title pb-2">
                    <button class="btn btn-outline-secondary" id="sidebarToggler">
                        <span style="font-size: 2em;">
                            <i class="fas fa-bars "></i>
                        </span>
                    </button>
                    <button type="button" id="addPodcast" class="btn btn-outline-secondary">
                        <span style="font-size: 2em; color: #33cc99;">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                    <button type="button" id="updateFeed" class="btn btn-outline-secondary">
                        <span style="font-size: 2em; color: #F79800;">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                    </button>
                </div>

                <div id="wrapper"></div>
            </div>

        </div>
    </div>
</main>

<!-- Modal -->
<div th:replace="modal/modalDialog"/>

</body>

</html>