<div id="addSiteModalBody">
    <p>フィードのURL もしくは、WebサイトのURL</p>
    <div>
        <input class="form-control addSiteUrl" placeholder="example.com">
    </div>
    <div>
        <input type="checkbox" id="isUseTitle" checked><label
            for="isUseTitle">フィードのタイトルを表示名に利用する</label>
    </div>
</div>
<div id="addSiteModalFooter">
    <button type="button" class="btn btn-primary modal-submit">complete!</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
</div>
