<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <script th:src="@{/js/analysis.js}"></script>
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>GalwWing</title>

</head>

<body>
<!-- 全ページを囲む要素 -->
<main class="container mw-100" role="main">
  <div class="row">
    <input type="hidden" id="identifier" value="" th:value="${identifier}">

    <!-- サイトバーメニュー -->
    <nav class="sidebar col-md-3" id="sidemenu">
      <div th:replace="linkMenu"/>
    </nav>
    <!-- サイトバーメニュー -->

    <!-- 全ページの右のコンテンツ -->
    <div class="col-md-9" id="mainContent">

      <!-- トップバー -->
      <nav class="navbar px-3 bg-light border-bottom shadow-sm">
        <div class="navbar-brand toggle-menu">
          <button class="btn btn-light btn-sm" id="sidebarToggler">
            <i class="fas fa-bars fa-lg"></i>
          </button>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item" id="gridLayoutItem">
            <div class="nav-link active" aria-current="page" data-layout="gridLayout">
              <i class="fas fa-th"></i>
            </div>
          </li>
          <li class="nav-item" id="cardLayoutItem">
            <div class="nav-link" aria-current="page" data-layout="cardLayout">
              <i class="fas fa-id-card"></i>
            </div>
          </li>
        </ul>
      </nav>
      <!-- トップバー -->

      <!-- 下のコンテンツ -->
      <div class="content p-3">
        <!-- アイコン -->
        <div class="page-title border-bottom pb-2">
          <button type="button" class="btn btn-outline-secondary" id="playTitle">
            <span style="font-size: 2em; color: #33cc99;">
               <i class="fas fa-check"></i>
            </span>
          </button>
        </div>

      </div>

      <!-- メインコンテンツ -->
      <div>
        <a href="" th:href="${targetFeed.link}" id="target" th:text="${targetFeed.title}"></a>
      </div>
      <div id="wrapper"></div>

    </div>
    <!-- 全ページの右のコンテンツ -->

  </div>
</main>
<!-- 全ページを囲む要素 -->

<a id="downloadLink" style="display: none;"></a>
<div id="playWav"></div>
</body>

</html>