<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <script src="js/functionCtrl.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="tree.css">
  <title>GalwWing</title>

</head>

<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->
<main class="h-100">
  <div class="page-wrapper d-flex flex-row h-100">

    <!-- サイトバーメニュー -->
    <nav class="sidebar bg-primary bg-gradient side">
      <div th:replace="linkMenu"/>
    </nav>
    <!-- サイトバーメニュー -->

    <!-- 全ページの右のコンテンツ -->
    <div class="page-content main w-100">

      <!-- トップバー -->
      <nav class="navbar px-3 bg-light border-bottom shadow-sm">
        <div class="navbar-brand toggle-menu">
          <button class="btn btn-light btn-sm" id="sidebarToggler">
            <i class="fas fa-bars fa-lg"></i>
          </button>
        </div>
      </nav>
      <!-- トップバー -->

      <!-- 下のコンテンツ -->
      <form class="content p-3">
        <div class="container-fuild pt-3">
          <table class="table table-hover table-bordered">
            <tr th:each="functionCtrl, sts : ${functionCtrlList}">
              <td th:text="${functionCtrl.id}"></td>
              <td th:text="${functionCtrl.detail}"></td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" th:value="on"
                         th:checked="${functionCtrl.flg eq '1'}" th:id="${functionCtrl.id}">
                </div>

              </td>
            </tr>
          </table>
        </div>

      </form>
      <!-- 下のコンテンツ -->

    </div>
    <!-- 全ページの右のコンテンツ -->

  </div>
</main>
<!-- 全ページを囲む要素 -->

</body>

</html>
