<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>

    <script src="js/main.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>GalwWing</title>

</head>

<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->
<main class="h-100">
    <div class="page-wrapper d-flex flex-row h-100 w-100">
        <input type="hidden" id="identifier" value="" th:value="${identifier}">

        <!-- サイトバーメニュー -->
        <nav class="sidebar bg-primary bg-gradient">
            <div class="brand p-4">
                <h4>
                    Sidabar Sample
                </h4>
            </div>
            <ul class="nav flex-column m-o p-3" id="navi">
                <li class="nav-item mb-2">
                    <a href="/settings" class="nav-link">settings</a>
                </li>
                <li class="nav-item mb-2">
                </li>
                <li class="nav-item mb-2">
                    <a href="/" class="nav-link">All</a>
                </li>
                <li class="nav-item mb-2" th:each="site: ${sitelist}">
                    <a href="" class="nav-link"
                       th:href="@{/(uuid=${site.uuid})}">[[${site.title}]]</a>
                </li>
            </ul>
            <div id="test"></div>
        </nav>
        <!-- サイトバーメニュー -->

        <!-- 全ページの右のコンテンツ -->
        <div class="page-content">

            <!-- トップバー -->
            <nav class="navbar px-3 bg-light border-bottom shadow-sm">
                <div class="navbar-brand toggle-menu">
                    <button class="btn btn-light btn-sm" id="sidebarToggler">
                        <i class="fas fa-bars fa-lg"></i>
                    </button>
                </div>
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item ml-3 text-muted">
                        Home
                    </li>
                    <li class="nav-item ml-3 text-muted">
                        Test
                    </li>
                    <li class="nav-item ml-3 text-muted">
                        Login
                    </li>
                </ul>
            </nav>
            <!-- トップバー -->

            <!-- 下のコンテンツ -->
            <div class="content p-3">
                <div class="page-title border-bottom pb-2 ">
                    <button type="button" id="addSite" class="btn btn-outline-secondary">
                        <span style="font-size: 2em; color: #33cc99;">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                    <button type="button" id="updateFeed" class="btn btn-outline-secondary">
                        <span style="font-size: 2em; color: #F79800;">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <span style="font-size: 2em; color: #33cc99;">
                           <i class="fas fa-check" id="readedFeedItem"></i>
                        </span>
                    </button>
                </div>
                <div class="container-fuild pt-3">
                    <div class="card">
                        <div id="wrapper"></div>
                    </div>
                </div>
            </div>
            <!-- 下のコンテンツ -->

        </div>
        <!-- 全ページの右のコンテンツ -->

    </div>
</main>
<!-- 全ページを囲む要素 -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>