<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/rssBridge.js}"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/rssbridge.css}">
    <title>GalwWing</title>

</head>

<body>
<!-- 全ページを囲む要素 -->
<main class="container mw-100" role="main">
    <div class="row">
        <input type="hidden" id="identifier" value="" th:value="${identifier}">

        <!-- サイトバーメニュー -->
        <nav class="sidebar col-md-3" id="sidemenu">
            <div th:replace="linkMenu"/>
        </nav>
        <!-- サイトバーメニュー -->

        <!-- 全ページの右のコンテンツ -->
        <div class="col-md-9" id="mainContent">

            <!-- トップバー -->
            <nav class="navbar px-3 bg-light border-bottom shadow-sm">
                <div class="navbar-brand toggle-menu">
                    <button class="btn btn-light btn-sm" id="sidebarToggler">
                        <i class="fas fa-bars fa-lg"></i>
                    </button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item" id="gridLayoutItem">
                        <div class="nav-link active" aria-current="page" data-layout="gridLayout">
                            <i class="fas fa-th"></i>
                        </div>
                    </li>
                    <li class="nav-item" id="cardLayoutItem">
                        <div class="nav-link" aria-current="page" data-layout="cardLayout">
                            <i class="fas fa-id-card"></i>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- トップバー -->

            <!-- 下のコンテンツ -->
            <div class="content p-3">
                <div>
                    <!-- メインコンテンツ -->
                    <div id="main">
                        <div class="m-2">
                            <select class="form-select" id="connectSelect">
                                <option selected>Open this select connect menu</option>
                                <option th:each="connect:${connectSelect}" th:value="${connect}"
                                        th:text="${connect}"></option>
                            </select>
                        </div>

                        <div class="m-2">
                            <select class="form-select" id="keySelect">
                                <option selected>Open this select key menu</option>
                                <option th:each="select:${keySelect}" th:value="${select.connect + ':' + select.key}"
                                        th:text="${select.key}"></option>
                            </select>
                        </div>

                        <div class="m-2">
                            <button type="button" class="btn btn-primary" id="executeBtn">表示</button>
                        </div>
                    </div>

                    <div id="contentsList" class="parent"></div>
                </div>
            </div>
            <!-- 下のコンテンツ -->

        </div>
        <!-- 全ページの右のコンテンツ -->

    </div>
</main>
<!-- 全ページを囲む要素 -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content" id="modal-content">
            <div class="modal-header" id="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" id="modal-header-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer" id="modal-footer">
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
    <div id="modalAddSiteBody">
        <p>フィードのURL もしくは、WebサイトのURL</p>
        <div>
            <input class="form-control addSiteUrl" placeholder="example.com">
        </div>
        <div>
            <input type="checkbox" id="isUseTitle" checked><label
                for="isUseTitle">フィードのタイトルを表示名に利用する</label>
        </div>
    </div>
    <div id="modalAddSiteFooter">
        <button type="button" class="btn btn-primary modal-submit">complete!</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
    </div>
    <div id="modalImportOpmlBody">
        <div>
            <label for="importOpmlFile" class="form-label">Upload Opml file</label>
            <input class="form-control" type="file" id="importOpmlFile">
        </div>
    </div>
    <div id="modalImportOpmlFooter">
        <button type="button" class="btn btn-primary modal-submit">import</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
    </div>
    <div id="updateMessageModal">
        <center>
            <div class="spinner-grow" role="status">
            </div>
            <span>Updating...</span>
        </center>
    </div>
    <div class="confirmModal">
        <div class="confirmFooter">
            <button type="button" class="btn btn-primary confirmOk">ok</button>
            <button type="button" class="btn btn-secondary confirmCancel" data-dismiss="modal">cancel
            </button>
        </div>
    </div>
</div>

<a id="downloadLink" style="display: none;"></a>
<div id="playWav"></div>
</body>

</html>