<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>

    <script src="js/main.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="tree.css">
    <title>GalwWing</title>

</head>

<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->
<main class="h-100">
    <div class="page-wrapper d-flex flex-row h-100">

        <!-- サイトバーメニュー -->
        <nav class="sidebar bg-primary bg-gradient side">
            <div class="brand p-4">
                <h4>
                    Sidabar Sample
                </h4>
            </div>
            <ul class="nav flex-column m-o p-3" id="navi">
                <li class="nav-item mb-2">
                    <a href="/" class="nav-link">Feed List</a>
                </li>
            </ul>
        </nav>
        <!-- サイトバーメニュー -->

        <!-- 全ページの右のコンテンツ -->
        <div class="page-content main">

            <!-- トップバー -->
            <nav class="navbar px-3 bg-light border-bottom shadow-sm">
                <div class="navbar-brand toggle-menu">
                    <button class="btn btn-light btn-sm" id="sidebarToggler">
                        <i class="fas fa-bars fa-lg"></i>
                    </button>
                </div>
            </nav>
            <!-- トップバー -->

            <!-- 下のコンテンツ -->
            <div class="content p-3">
                <div class="page-title border-bottom pb-2 ">
                    <h2>Main page</h2>
                </div>
                <div class="container-fuild pt-3">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">項目名</th>
                            <th scope="col">値</th>
                        </tr>
                        </thead>
                        <tbody th:each="setting: ${settings}">
                        <tr>
                            <td>[[${setting.name}]]</td>
                            <td>[[${setting.setting}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 下のコンテンツ -->

        </div>
        <!-- 全ページの右のコンテンツ -->

    </div>
</main>
<!-- 全ページを囲む要素 -->

</body>

</html>
