<!DOCTYPE html>
<html class="h-100" lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <meta content="Enter your description here" name="Description"/>
  <title>Title</title>

  <script src="js/siteCategory.js"></script>

  <link href="style.css" rel="stylesheet">
  <link href="tree.css" rel="stylesheet">
  <link href="siteCategory.css" rel="stylesheet">
</head>
<body class="h-100 bg-light">
<!-- 全ページを囲む要素 -->
<main class="h-100">
  <div class="page-wrapper d-flex flex-row h-100">

    <!-- サイトバーメニュー -->
    <nav class="sidebar bg-primary bg-gradient side">
      <div class="brand p-4">
        <h4>
          Sidabar Sample
        </h4>
      </div>
      <ul class="nav flex-column m-o p-3" id="navi">
        <li class="nav-item mb-2">
          <a class="nav-link" href="/">Feed List</a>
        </li>
      </ul>
    </nav>
    <!-- サイトバーメニュー -->

    <!-- 全ページの右のコンテンツ -->
    <div class="page-content main w-100">

      <!-- トップバー -->
      <nav class="navbar px-3 bg-light border-bottom shadow-sm">
        <div th:replace="linkMenu"/>
      </nav>
      <!-- トップバー -->

      <!-- 下のコンテンツ -->
      <div class="container-fuild pt-3 px-5">
        <h2>Site Info</h2>
        <div class="px-3">
          <!-- サイト名 -->
          <p th:text="${site.title}">TEST</p>
          <input id="siteUuid" th:value="${site.uuid}" type="hidden">
        </div>
        <h2>Category</h2>
        <div class="px-3 row">
          <!-- カテゴリ追加選択リスト -->
          <div class="col-auto">
            <select class="form-select" id="categorySelect">
              <option th:each="category:${categoryList}" th:value="${category.uuid}">
                [[${category.name}]]
              </option>
            </select>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="categoryAddBtn" type="button">Add</button>
          </div>
        </div>
        <div class="px-3" id="categoryList">
          <!-- カテゴリラベル一覧 -->
          <th:block th:each="siteCategory : ${siteCategoryList}">
            <div class="label" th:data-uuid="${siteCategory.uuid}"
                 th:text="${siteCategory.name}"></div>
            <button aria-label="Close" class="btn-close" th:data-uuid="${siteCategory.uuid}"
                    type="button"></button>
          </th:block>
        </div>
      </div>
      <!-- 下のコンテンツ -->

    </div>
    <!-- 全ページの右のコンテンツ -->

  </div>
</main>
<!-- 全ページを囲む要素 -->

</body>
</html>