<!DOCTYPE html>
<html lang="ja" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <script th:src="@{/js/statics.js}"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>GalwWing/dash bord</title>

</head>

<body>
<!-- 全ページを囲む要素 -->
<main class="container mw-100" role="main">
    <div class="row">
        <input type="hidden" id="identifier" value="" th:value="${identifier}">

        <!-- サイトバーメニュー -->
        <nav class="sidebar col-md-3" id="sidemenu">
            <section class="accordion">
                <!-- サイドメニュー(Site List) -->
                <div th:replace="linkMenu"/>

            </section>
        </nav>
        <!-- サイトバーメニュー -->

        <!-- 全ページの右のコンテンツ -->
        <div class="col-md-9" id="mainContent">

            <!-- トップバー -->

            <!-- 下のコンテンツ -->
            <div class="content p-3">
                <div th:if="${selectSite != null}">
                    <h1 th:text="${selectSite.title}" class="bg-info text-center"></h1>
                </div>
                <div>
                    <!-- メインコンテンツ -->
                    <div id="main">
                    </div>
                </div>
            </div>
            <!-- 下のコンテンツ -->

        </div>
        <!-- 全ページの右のコンテンツ -->

    </div>
</main>
<!-- 全ページを囲む要素 -->

<a id="downloadLink" style="display: none;"></a>
<div id="playWav"></div>
</body>

<!-- Modal -->
<div th:replace="modal/modalDialog"/>

<script src="/js/shortcutter.js"></script>
</html>